/* main container of page */
.mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainContainer>div {
    width: 75%;
    margin-top: 20px;
}

/* container for all the albums */
.albumContainer {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

/* album form container */
.albumForm {
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}


/* header containing album heading */
.header span {
    float: left;
    font-size: 2.2rem;
    font-weight: bold;
    color: #bcb7f5;
    font-family: cursive;
}

.header span:hover {
    color: #4939ff;
}

/* for button create album */
.btn {
            float: right;
            background-color: rgba(23, 4, 132, 0.1);
            border: 2px solid rgb(7, 119, 247);
            border-radius: 5px;
            color: white;
            cursor: pointer;
            
            transition: background-color 0.3s ease-in-out;
            font-weight: 700;
            outline: none;
            padding: 5px 10px;
}

.btn:hover{
    background-color: rgb(246, 9, 9);
    
    
}

.btn.cancel{
    background-color: rgb(246,9,9);
    border: 2px solid rgb(247, 47, 7);
}